<div>

</div>
<nb-tabset>
    <nb-tab tabTitle="Home">
        <nb-card>
            <nb-card-header>
                <nb-user size="large"
                         name="{{user.login}}"
                         title="{{user.location}}"
                         picture="{{user.avatarUrl}}">
                </nb-user>
            </nb-card-header>
            <nb-card-body>
                {{user.bio}}
            </nb-card-body>
            <nb-card-footer>
                <span>Following: {{user.following.totalCount}}</span>
                <span>Followers: {{user.followers.totalCount}}</span>
            </nb-card-footer>
        </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Settings">
        <form [formGroup]="form" (submit)="submitForm()" class="form center-vertical">
            <label>
                <input ngModel="{{username}}"  nbInput formControlName="gitHubUsername" class="form-control" type="text" placeholder="Type your gitHub username" >
            </label>
            <button nbButton class="btn btn-light gradient">Enter GitHub Username</button>
        </form>
    </nb-tab>
</nb-tabset>